@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(../fonts/Poppins-Black.ttf) format("truetype"),
    url(../fonts/Poppins-Bold.ttf) format("truetype");
}
.body {
  font-family: Poppins;
}
.base-container {
  height: 100vh;
  background: #81d5fb; /* Old browsers */
  background: -moz-linear-gradient(top, #81d5fb 0%, #cceefe 40%, #e9f8ff 60%, #fdffff 81%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #81d5fb 0%,
    #cceefe 40%,
    #e9f8ff 60%,
    #fdffff 81%,
    #ffffff 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #81d5fb 0%,
    #cceefe 40%,
    #e9f8ff 60%,
    #fdffff 81%,
    #ffffff 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81d5fb', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}
.form {
  background-color: #fff;
  margin-top: 160px;
  padding: 25px;
  box-shadow: 2px 4px 6px -6px #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: auto;
}
.form-custom {
  margin-bottom: 0rem !important;
}
.form-custom input {
  border-radius: none !important;
  margin-bottom: 14px !important;
  border: 1px solid #000 !important;
}
.form-custom label {
  font-size: 18px !important;
}

.btn-black {
  color: #fff;
  background-color: black !important;
  border-color: black !important;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: auto;
}

.link-register {
  font-size: 10px;
  align-self: flex-end;
  margin-top: 2px;
}
.link-login {
  font-size: 10px;
  align-self: flex-start;
  margin-top: 2px;
}

h1 {
  text-align: center;
}

label,
input {
  display: block;
  width: 100%;
  font-size: 12px;
}

label {
  margin-bottom: 5px;
  height: 22px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
}

input.error {
  border-color: red;
}

.input-feedback {
  color: rgb(235, 54, 54);
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
}

button {
  font-size: 14px;
  padding: 5px 20px;
  background-color: #000;
  color: white;
  background-color: 250ms;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  border-radius: 3px;
  border: 0;
}

/*  Welcome Page */

.header-wrap {
  margin: 0 auto;
  // height: 200px;
  // width: 500px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
.zoomout .container-welcome {
  height: 60vh;
}
.end .zoomout .container-welcome {
  height: 90vh;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
  margin: 0 50px;
}
.zoomout h3 {
  font-size: 1.5em;
}
.end .zoomout h3 {
  font-size: 0.9em;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

.container-welcome {
  background-image: url("../images/apple-background-welcome.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.header-name {
  font-weight: bold;
  font-size: 24px;
  margin-top: 91px;
  margin-bottom: 129px;
}

.header-name a {
  color: black;
}
.header-name a:hover {
  text-decoration: none;
  color: black;
}

.zoomout .welcome-menu {
  background-color: black;
  text-align: center;
  height: 20px;
}
.end .zoomout .welcome-menu {
  height: 50px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}
.zoomout .container-image {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  margin: auto;
}
.end .zoomout .container-image {
  width: 50px;
  height: 50px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}
.zoomout .welcome-image {
  display: none;
}
.end .zoomout .welcome-image {
  width: 20px;
  height: 20px;
  display: inline;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.counter {
  font-size: 38px;
  letter-spacing: 10px;
  font-weight: 800;
}

/* End Welcome Page */

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  label {
    font-size: 20px;
  }
  input {
    margin-top: 6px;
    min-width: 18em;
    height: 37px;
    padding: 0px 10px;
    font-size: 16px;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    margin-bottom: 31px;
    transition: all 250ms ease-in-out;
    &:hover {
      //background-color: #ffffff;
      //box-shadow: 0px 0px 14px 0.3px #0e81ce96;
    }

    &:focus {
      outline: none;
      box-shadow: 0px 0px 12px 0.8px #3474dbb2;
    }
  }
}

/*   Menu */
.nav-link a:hover {
  text-decoration: none !important;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end !important;
}
.navbar-dark .navbar-brand {
  color: #fff;
  background-color: black;
  width: 3%;
  text-align: center;
}

.navbar-brand {
  padding-bottom: 0.5125rem !important;
}
.img-fluid {
  width: 64%;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}
.mr-auto-new {
  padding-right: 10px;
}
.mr-auto-new a {
  color: #a9a9a9 !important;
  font-size: 14px;
}
.mr-auto-new a:hover {
  color: black !important;
}
.mr-auto-new a:active {
  color: black !important;
}

.navbar {
  padding: 0.5rem 2.8rem 0.5rem 0.3rem !important;
}
.notify-me {
  background-color: #65c6f8;
  border-radius: 25px;
  color: white !important;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}
.nav-link.active {
  color: black !important;
  text-decoration: none;
}

/* End menu */

/* Apple Page */

.container-apple {
  background-image: url("../images/Apple-gray.png");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  background-color: #f3f3f3;
  height: 80vh;
}
.zoomout h2 {
  font-size: 0.8em;
}
.end .zoomout h2 {
  font-size: 1.5em;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}
.header-name-apple {
  font-weight: bold;
  font-size: 34px;
  margin-top: 260px;
}

.header-name-apple a {
  color: black;
}
.header-name-apple a:hover {
  text-decoration: none;
  color: black;
}

.apple-our-products {
  margin-top: 50px;
}
.apple-our-products h4 {
  color: #7fd3fa;
  font-size: 14px;
}

.icons {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 12%;
}
.icon-laptop {
  padding: 0 20px;
}

.icons figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.icons figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.base-apple {
  padding: 0 50px;
}
/* End Apple Page */

.welcome-iphone {
  padding: 0 65px !important;
}

.iphone-ultimate {
  margin: 0;
  padding: 0;
  background: url("../images/apple-iphone.png") repeat;
  background-size: 16%;
  background-repeat: no-repeat;
  background-position: 92% 18%;
  padding: 30px;
  height: 50vh;
}

.iphone-ultimate:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right,
    #f2f2f2 15%,
    #f3f3f3 29%,
    #f4f4f4 43%,
    #fbfbfb 58%,
    #fcfcfc 72%,
    #fdfdfd 81%,
    #ffffff 100%,
    #ffffff 100%,
    #ffffff 100%
  );
}
.padding-10 {
  padding: 5px 0;
  padding-left: 60px;
}
.iphone-text {
  color: red;
  font-weight: 900;
}
.iphone-the-ultimate {
  color: black;
  font-size: 75px;
  font-weight: 900;
  line-height: 82px;
}
.iphone-future {
  color: #bebebe;
  font-size: 14px;
}
.iphone-start {
  color: red;
  font-size: 12px;
}

.carousel .slide {
  background: transparent !important;
}
.iphone-slider .carousel .slider-wrapper {
  width: 45%;
}
.carousel .thumb.selected,
.carousel .thumb:hover {
  border-bottom: 3px solid red !important;
}
.carousel .thumb {
  border: none !important;
}
.gallery {
  padding: 40px;
}

.nav-item img {
  width: 20px;
}
.thumbs-wrapper {
  margin-left: -200px !important;
  margin-top: -50px !important;
}
.iphone-price {
  color: #cccccc;
  font-weight: 900;
  font-size: 32px;
}
.iphone-buy {
  color: red;
  font-size: 13px;
  font-weight: 900;
}
.iphone-price-section {
  line-height: 5px;
  margin: -170px 0 0 100px;
  width: 50%;
}
.icon-iphone figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.icon-iphone figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/* Iphone Page */

/* Watch */

.watch-future {
  color: #bebebe;
  font-size: 14px;
  width: 50%;
}
.watch-slider .carousel .slider-wrapper {
  width: 75%;
}

.welcome-iphone {
  .carousel .control-dots {
    position: initial;
    margin: 60px 0;

    .dot {
      opacity: 1;
      width: 16px;
      height: 16px;
      outline: none;
      margin: 0px 20px;
      border: 1px solid gray;
      box-shadow: none;
    }

    li.dot:nth-child(1) {
      background-color: white;
    }
    li.dot:nth-child(2) {
      background-color: black;
    }
    li.dot.selected:after {
      content: "";
      border: 1px solid red;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      position: absolute;
      margin-top: -7px;
      margin-left: -14px;
    }
  }
}
.welcome-iphone .gallery_watch.watch-slider {
  padding-top: 50px;
}
.watch-header-text {
  color: black;
  font-size: 70px;
  font-weight: 900;
  line-height: 82px;
}
.watch-price-section {
  line-height: 5px;
  margin: -70px 0 0 100px;
}
.vertical-bar {
  margin: auto;
}
/* End Watch */

/* Mac */

.header-mac {
  margin: 0;
  background: url("../images/mac_header.png") repeat;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: 76% 69%;
  padding: 30px;
}

.header-mac:before {
  content: " ";
  width: 96%;
  height: 65%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #000000;
  margin-left: 49px;
}
.header-mac-text {
  padding-left: 77px !important;
  padding-top: 25px;
}
.header-mac-title {
  color: #5ac8fa;
  font-weight: 900;
}
.header-mac-date {
  color: red;
  font-size: 12px;
}
.header-mac-more {
  color: white;
  font-weight: 900;
  font-size: 50px;
}
.header-mac-description-title {
  width: 61%;
  color: #5a5a5a;
  line-height: 17px;
  margin-top: 70px;
  margin-left: -31px !important;
}
.header-mac-description-title .header-mac-description {
  font-size: 28px;
  font-weight: 900;
}
.header-mac-description-title .header-mac-description span {
  font-size: 10px;
}

.vertical-icon {
  margin: auto;
  padding-top: 192px;
}
.vertical-icon .nav-item img {
  width: 17px;
}
.header-more {
  width: 30%;
  line-height: 53px;
  margin-top: 22px;
}
.mac-subscribe {
  background-color: #f2f2f2;
  margin-top: -37px;
}
.mac-buy {
  margin-left: 87px;
  margin-top: 90px;
  font-size: 13px;
  font-weight: 900;
  color: #66cbfa;
}
.img-wrapper {
  width: 450px;
  height: 196px;
  overflow: hidden;
  margin-left: 46px;
}

img.laptop {
  position: relative;
  display: block;
  width: 100%;
  top: -57px;
}

.form-header {
  font-size: 25px;
  font-weight: 900;
}
.form-subscribe {
  padding: 50px;
}

/* End Mac */
